blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0px; 
    padding: 0px;
}
a{
    text-decoration: none;
    color:#999;
}
ul li{
    list-style: none;
}
ol li{
    list-style: none;
}
body{
    background-color: #f8f8f8;
    font-family:"-apple-system","MIcrosoft YaHei",sans-serif !important;;
}
