/*搜索区域*/
.header{	
	width:100%;
	height:120px;
	/*background:red;*/
	box-shadow: 0 2px 27px 0 rgb(0 0 0 / 10%);
}
.header-center{	
	width:1190px;
	height:120px;
	/*background:blue;*/
	margin:0 auto;
}
/*logo区域*/
.header-center-left{	
	width:295px;
	height:120px;
	/*background:pink;*/
	font-size:0px;
	float:left;
}
.header-center-left h1 a img{	
	width:126px;
	height:46px;
	padding:28px 60px 40px 0px;
}
.header-center-center{	
	width:550px;
	height:40px;
	/*background:green;*/
	font-size:0px;
	float:left;
	margin-top:28px;
}
.header-center-center input{	
	width:468px;
	height:38px;
	border:1px solid #E5E5E5;
}
.header-center-center button{	
	width:80px;
	height:40px;
	border:1px solid #E5E5E5;
	border-left-width:0px;
	background:#FFC300;
}

.city{	
	width: 100%;
	height:900px;
	/* background: blue; */
	margin-top:30px
}
.city-center{	
	width: 1190px;
	height:900px;
	border:1px solid #ccc; 
	margin:0 auto;
}
/* 第一种样式 */
.wayone{	
	width: 1150px;
	height:100px;
	font-size: 16px;
    color: #333;
    font-weight: 500;
	border:1px solid #ccc;
	margin: 20px;
}
.wayone-form{	
	width: 1190px;
	height:35px;
	font-size: 16px;
    color: #333;
    font-weight: 500;
	/* border:1px solid green; */
	margin-top:30px;
	z-index: 2;
}
/* 第二种样式 */
.waytwo{
	width: 1150px;
	height:330px;
	font-size: 16px;
    color: #333;
    font-weight: 500;
	border:1px solid #ccc;
	margin: 20px;
}
.wtstyle{	
	width: 1150px;
	height:50px;
	font-size: 16px;
    color: #333;
    font-weight: 500;
	/* border:1px solid red; */
}
/* 第三种的样式 */
.waythree{
	width: 1150px;
	height:300px;
	font-size: 16px;
    color: #333;
    font-weight: 500;
	/* border:1px solid #ccc; */
	margin: 20px;
}
/* 表单样式部分 */
#addr-show, #addr-show02,#addr-show03,#addr-show-number{
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
}
.btn {
    width: 80px;
    height: 30px;
    border-radius: 4px;
    border: 2px solid #FFC300;
    outline: none;
    background-color: #fff;
    margin: 0 20px;
	color:#000;
	cursor: pointer;
}
.btn:disabled{
    background-color:#FFC300;
	cursor: not-allowed;
}
/*方法一样式部分*/
select {
    width: 100px;
    height: 30px;
}
/*方法二样式部分*/
#addr-choice{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 20px;
}
#title-wrap li,#addr-wrap li{
    list-style: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
#title-wrap li{
    width:163px;
    height: 45px;
    line-height: 45px;
    margin-bottom: 10px;
}
.titleSel{
    border-bottom: 2px solid #FFC300;
}
#addr-wrap li{
    width: 83px;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
    font-size: 14px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
#addr-wrap li:hover{
    background-color: #FFC300;
}
/*方法三样式部分*/
#data-wrap{
    border: 1px solid #ccc;
}
#data-order{
    height: 30px;
    background-color:#FFC300;
}
#data-order li{
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 67px;
    font-size: 18px;
    line-height: 31px;
    cursor: default;
}

.cityOn{
    background-color: #fff;
}
#data-show{
    padding: 20px 10px;
}

#data-show dt{
    font-size: 18px;
    padding: 5px;
    color: red;
}
#data-show a{
    font-size: 16px;
    width: 38px;
    color: #222;
    padding: 5px;
}

#data-show a:hover{
    color: #000;
    background-color: #FFC300;
    border-radius: 4px;
    cursor: pointer;
}
/* 提交按钮 */
#cityto{
    width: 80px;
    height: 30px;
    border-radius: 4px;
    border: 2px solid #FFC300;
    outline: none;
    background-color: #fff;
    margin: 0 20px;
	color:#000;
	cursor: pointer;
}