/* 导航栏下拉显示隐藏 */
#dropdown .show .displaynone{
	display: block;
	background-color: #fff;;
	position: absolute;
	z-index:5;
}
.nav{
    height:100px;

}
.nav-center{    
    height: 100px;
}
.nav-center-left{
    font-size:0px;
}
.nav-center-left h1 a img{	
	width:126px;
	height:46px;
    padding:25px 0px 25px 40px;
}
.nav-center-right{
    width:150px;
	height:20px;
    line-height: 20px;
    color: #666;
    margin-top:40px;
}
.nav-center-right a{   
    width:44px;
    height:20px;
    background-color:#FFD000 ;
    color: #000;
    display:inline-block;
    float:right;
    text-align: center;
}

.login{
    width:100%;
    height:550px;
    background-color: #F7F8F8;
}
.login-center{
    width: 1190px;
    height:480px;
    background-color: #fff;
    margin:0 auto;
    border:1px solid #ccc;
}
.login-left-img{    
    width: 500px;
    height:370px;
    /* background-color: blue; */
     /*border:1px solid #ccc; */
    float: left;
    margin:60px 0px 40px 100px;
}
.login-right-form{ 
    width: 500px;
    height:480px;
    /*border:1px solid #ccc; */
    float: left;
}
.login-right-form div{
    width:300px;
    height:40px;
    border:1px solid #ccc;
    margin:0 auto;
    margin-top:30px;
    line-height: 40px;
    font-size:14px;
}
.login-right-form div:hover{    
    border:1px solid #f76120;
}
.login-right-form div:first-child{
    border:none;
    margin-top:60px;
    margin-bottom: -20px;
}
.login-right-form div:nth-child(4){
    border:none;
    margin-top:10px;
    margin-bottom:-30px;
    text-align:right;
    color:#FE8C00;
}
.login-right-form .right{   
    padding-left:140px;
}
#username{  
    border:none;
    width:250px;
    height:38px;
}
.icon-locked{   
    display: inline-block;
    padding-left:15px;
}
#password{  
    border:none;
    width:250px;
    height:38px;
}
#submit{    
    width:300px;
    height:40px;
    border:none;
    /*border:1px solid #ccc;/*/
    font-weight: 700;
    font-size: 14px;
    background: #FFC300;
}
/*控制提示文字的显示隐藏*/
.display-none{
    display:none;
}
.display-block{ 
    display:block;
}
.display-inline{
    display:inline-block;
}
.icon-times-circle{ 
    color:red;
}
.icon-check-circle{ 
    color:green;
}
/*禁用谷歌的默认选择效果*/
input,textarea:focus {   
    outline: none;   
}  
.icon-cross{
    color:red;
}
.icon-checkmark{
    color:green;
}